@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root
{
    --bg-color:#191f36;
    --text-color:#fff;
    --snd-bg-color:#262B40;
    --main-color:#59B2F4;
}

html
{
    overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


#Portfolio-header
{
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
}

.header
{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2rem;
    left: 0;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#HeaderNav {
    display: flex;
    flex-wrap: wrap;
}

#HeaderNav a
{
    font-weight: 700;
    color: var(--text-color);
    margin-left: 2rem;
    font-size: 1.5rem;
}

a :hover
{
    color: red;
    cursor: pointer;
}

.home
{
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media (max-width: 800px) 
{
    .home{
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;}

    #Home-profile-image
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Home-profile-image img
    {
        margin-left: 2rem;
        width: 20rem;
        height: 25rem;
        animation:floatImage 4s ease-in-out infinite;
        border-radius: 50%;
    }
}

.Content socialmedia h3
{
    font-weight: 700;
    color: var(--snd-bf-color);
    font-size: 2.5rem;
}

.Content socialmedia h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.3;
}

.Content socialmedia h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

.Content socialmedia p{
    color: var(--text-color);
    text-wrap: nowrap;
}

@keyframes floatImage {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(-20px); /* Middle position */
    }
    100% {
        transform: translateY(0); /* End position */
    }
}

#Home-profile-image img
{
    margin-left: 10rem;
    width: 25rem;
    height: 30rem;
    animation:floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

@media (max-width: 800px) 
{

    #Home-profile-image
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Home-profile-image img
    {
        margin: auto;
        width: 20rem;
        height: 25rem;
        animation:floatImage 4s ease-in-out infinite;
        border-radius: 50%;
    }
}

.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border:solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .4s ease;
}

.socialmedia a:hover
{
    background:var(--main-color);
    color: var(--snd-bg-color);
}

#btn
{
    padding: auto;
    background: var(--main-color);
    border-radius: 2rem;
    width: 10rem;
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 700;
    transition: .5s ease;
}

#btn:hover
{
    box-shadow: none;
    color: var(--text-color);
}


/* About Section Styles */
#about
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

#about div img{
    border: 4px solid var(--main-color);
    border-radius: 4rem;
    margin: 2rem;
    width: 20rem;
}

#about-info p{
    font-weight: 400;
    text-align: justify;
    font-size: 1.5rem;
}

#about-info h2
{
    font-weight: 500;
    font-size: 3rem;
    color: var(--text-color);
}

#about-info > h2 > span
{
    color: var(--main-color);
}

#about-info > h3{
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--text-color);
}

/* Services section Styles */

#Services
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    padding-top: 7rem;
}

#Services h1{
    cursor: default;
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.0rem;
}

#Services h1 span{
    color: var(--main-color);
}

#Service-Descriptions
{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

#Service-Descriptions div
{
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem;
    flex: 1;
    margin: 2rem;
    height: 25rem;
    min-width: 20rem;
}

#Service-Descriptions i{
    font-size: 3.5rem;
    cursor: default;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 20px;
}

#Service-Descriptions div h2{
    font-size: 2.0rem;
    cursor: default;
    font-weight: 500;
    color: var(--text-color);
    text-wrap: nowrap;
    margin-bottom: 10px;
}

#Service-Descriptions div p{
    font-size: 1.0rem;
    cursor: default;
    color: var(--text-color);
    text-align: justify;
}


/* portfolio styles */
#portfolio
{
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio h1{
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 10px;
}

/* Contact Styles */
#contact
{
    margin: 2rem;
    padding-top: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

#contact > form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact > form > div > input
{
    font-size: 1.0rem;
    border: 1px solid var(--snd-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    background: var(--snd-bg-color);
    margin: 1rem;
    padding: 1rem;
    text-wrap: wrap;
    text-align: justify;
}

#MessageBox
{
    font-size: 1.0rem;
    background: var(--snd-bg-color);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    resize: none;
    color: var(--text-color);
    text-wrap: wrap;
    text-align: justify;
    width: 95%;
}

#contact-submit
{
    font-size: 1rem;
    color: var(--text-color);
    height: 3rem;
    width: 10rem;
    background: var(--main-color);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 .5rem var(--main-color);
}

footer {
    text-align: center;
    padding: 20px;
    background-color:var(--snd-bg-color);
}
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
#Copyright-image
{
    color: var(--text-color);
}


/* Media query for smaller screens */
@media (max-width: 800px) 
{
    #HeaderNav a
    {
        font-size: 1.2rem;
    }

    #contact-form
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contact
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    #MessageBox
    {
        width: 100%;
    }

    #contact-submit
    {
        width: 100%;
    }

    #NameEmail
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #MobileEmailSubject
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #NameEmail input
    {
        width: 100%;
    }

    #MobileEmailSubject input
    {
        width: 100%;
    }

    #Services
    {
        flex-direction: column;
    }

    #Service-Descriptions
    {
        flex-direction: column;
        width: 100%;
    }


    #about
    {
        flex-direction: column;
        width: 100%;
    }

    .profile-pic
    {
        display: none;
    }
}

@media (max-width: 700px) 
{
    .header{
        display: flex;
        flex-direction: column;
    }

    #home
    {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    #HeaderNav {
        overflow-x: auto;          /* Allow horizontal scrolling if needed */
    }

    #HeaderNav a
    {
        margin: 5px;
        font-size: 0.8rem;
    }

    .socialmedia a{
        height: 2rem;
        width: 2rem;
    }
}
