@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root
{
    --bg-color:#191f36;
    --text-color:#fff;
    --snd-bg-color:#262B40;
    --main-color:#59B2F4;
}

html
{
    overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header
{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2rem;
    left: 0;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#HeaderNav a
{
    font-weight: 700;
    color: var(--text-color);
    margin-left: 4rem;
    font-size: 1.5rem;
}

a :hover
{
    color: red;
    cursor: pointer;
}

#BarIcon
{
    font-size: 2.5rem;
    cursor: default;
    font-weight: 700;
    color: var(--text-color);
}

.home
{
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Content socialmedia h3
{
    font-weight: 700;
    color: var(--snd-bf-color);
    font-size: 2.5rem;
}

.Content socialmedia h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.3;
}

.Content socialmedia h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

.Content socialmedia p{
    color: var(--text-color);
    text-wrap: nowrap;
}

@keyframes floatImage {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(-20px); /* Middle position */
    }
    100% {
        transform: translateY(0); /* End position */
    }
}

#Home-profile-image img
{
    margin-left: 10rem;
    width: 25rem;
    height: 30rem;
    animation:floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border:solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .4s ease;
}

.socialmedia a:hover
{
    background:var(--main-color);
    color: var(--snd-bg-color);
}

#btn
{
    padding: auto;
    background: var(--main-color);
    border-radius: 2rem;
    width: 10rem;
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 700;
    transition: .5s ease;
}

#btn:hover
{
    box-shadow: none;
    color: var(--text-color);
}


/* About Section Styles */
#about
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

#about div img{
    border: 4px solid var(--main-color);
    border-radius: 4rem;
    margin: 2rem;
    width: 20rem;
}

#about-info p{
    font-weight: 400;
    text-align: justify;
    font-size: 1.5rem;
}

#about-info h2
{
    font-weight: 500;
    font-size: 3rem;
    color: var(--text-color);
}

#about-info > h2 > span
{
    color: var(--main-color);
}

#about-info > h3{
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--text-color);
}